
<h2>List of Policies</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <td>Id</td>
            <td>Policy name</td>
            <td>Policy type</td>
            <td>Duration(in years)</td>
            <td>Amount</td>
            
           
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let policy of policies  | async | paginate: { itemsPerPage:count, currentPage:p } ">
            <td>{{policy.id}}</td>
            <td>{{policy.name}}</td>
            <td>{{policy.type}}</td>
            <td>{{policy.duration}}</td>
            <td>{{policy.amount}}</td>
          
        </tr>
    </tbody>
    
</table>

<div class="text-right" style="margin-right: 15%;">
    <pagination-controls (pageChange)="p = $event" style="margin-right:20%;"></pagination-controls>
</div>

<button (click)="back()" class="btn btn-primary " style="margin-left:25%;" >Back</button>