<header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">

        <ul class="navbar-nav">
            <li><a   class="nav-link">Search Policies</a></li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li><span *ngIf="userlogin.isUserLoggedIn() " class="navbar-text ">Welcome user {{userlogin.id}}</span></li>
            <li><a *ngIf="userlogin.isUserLoggedIn() " routerLink="/logoutuser" class="nav-link">Logout</a></li>
        </ul> 

    </nav>
</header>

<div style="width: 500px ;" class="uform">

    <form (ngSubmit)="onUpdate()" #paymentform="ngForm">

        <h2>Payment Form!</h2>

        <div class="form-group">
            <label for="id">PolicyID</label>
            <input type="number" class="form-control" id="id" required [(ngModel)]="policy.id" name="id" readonly>
        </div>

        <div class="form-group">
            <label for="name">PolicyName</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="policy.name" name="name" readonly>
        </div>

        <div class="form-group">
            <label for="name">Duration</label>
            <input type="text" class="form-control" id="duration" required [(ngModel)]="policy.duration" name="duration"
                readonly>
        </div>

        <div class="form-group">
            <label for="name">Amount</label>
            <input type="text" class="form-control" id="amount" required [(ngModel)]="policy.amount" name="amount"
                readonly>
        </div>

        <div class="form-group">
            <label for="duedate">DueDate</label>
            <input type="text" class="form-control" id="duedate" required [(ngModel)]="duedate" name="duedate" readonly>
        </div>

        <div class="form-group">
            <label>PaymentMode</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" value="CREDITCARD" [(ngModel)]="payment.type"
                    #type="ngModel" required>
                <label class="form-check-label">Credit Card</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" value="DEBITCARD" [(ngModel)]="payment.type"
                    #type="ngModel" required>
                <label class="form-check-label">Debit Card</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" value="UPI" [(ngModel)]="payment.type"
                    #type="ngModel" required>
                <label class="form-check-label">Upi</label>
            </div>
            <div *ngIf="type.invalid && type.untouched" class="text-danger">Please select payment mode </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="paymentform.form.invalid">Pay Here</button>
    
    </form>
    
</div>