<header>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div><a href="" class="navbar-brand">Policy</a></div>

        <ul class="navbar-nav">

            <li><a *ngIf="!adminlogin.isUserLoggedIn() || userlogin.isUserLoggedIn()" routerLink="/adminlogin"
                    class="nav-link" routerLinkActive="active">Admin</a></li>
        
                    
            <li><a *ngIf="adminlogin.isUserLoggedIn() || !userlogin.isUserLoggedIn()" routerLink="/userlogin"
                    class="nav-link" routerLinkActive="active">User</a></li>  
            
        </ul>

    </nav>

</header>